/*Code borrowed from week 3 lecture*/
/*layout*/
*, *::after, *::before {
  box-sizing:border-box;
}

.container{
  display: -ms-flex;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;
}

/*Navgation Bar*/
.block{
  -ms-flex-grow:1;
  flex-grow: 1;

  -ms-flex-basis:10em;
  flex-basis:10em;

  margin-left: 3rem;
}

/*Banner Image*/
.block-2{
   max-width: 100%;
}

.container-2{
 width: 100%;
}

.container .block{
  background-color: rgb(25, 26, 30);
}

.container-2 img {
  display: block;
}

.container-3{
  display: -ms-flex;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;
}

 /*Featured Items*/
.block-3{
  -ms-flex-grow:1;
  flex-grow: 1;

  -ms-flex-basis:10em;
  flex-basis:10em;
  /*margin: 2em;*/

  padding: 1.5em 1.5em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  /*margin-right: 3rem;*/
}


.block-4{
   max-width: 100%;
}

.container-4{
background-color: rgb(12, 13, 15);
margin-top: 10rem;
margin-bottom: -2rem;
padding: 7rem;
font-size: 1.4em;
width: 100%;
text-align: center;
}







/*@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .block{
    width:25%;
  }

}*/
