/*fixes the navigation bar to the top position and stay there forever*/
/*But it looks weird as you scale the page down*/
	.fixed-navigation {
		position:fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}

body {
  font-family: "Quann";
  /*padding: 2rem;*/
  background-color: rgb(38, 43, 49);
  color: white;
}

h1{
  color: orange;
  margin-left: 1rem;
}

.p-subHeader{
  color: white;
  margin-left: 3rem;

  margin-top: -2rem;
  padding: 0rem 0rem;
}

.Featured-Header {
  font-family: "Quann", sans-serif;
  color: orange;
	margin-left: 3rem;
  padding: 0.25rem 0rem;
}

.nav-home {
  display: block;
	color: white;
	font-size: 2.5rem;
  /*margin-left: 5rem;*/
	padding: 1rem 1rem;
	text-decoration: none;
	transition: color 0.5s ease-out;
  /*padding-right: 20rem;*/
}

.nav-main-item {
	color: white;
	font-size: 1.2rem;
	padding: 2rem 1rem;
	text-decoration: none;
	transition: color 0.5s ease-out;
}

.nav-main-item:hover, .nav-main-item:focus {
  color: rgb(249, 162, 49);
}


.newBG {
  font-family: "Orbitron", sans-serif;
  color: rgb(204, 234, 207);
  background-color: rgb(25, 26, 30);
}

.Dividing-Line2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
	margin-right: 3rem;
  border-bottom: 1px solid orange;
  max-width: 91.6%;

	display: -ms-flex;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;
}

.Dividing-Line3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
	margin-right: 3rem;
  border-bottom: 1px solid gray;
  max-width: 91.6%;

	display: -ms-flex;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;
}


/*.Full-width{
  max-width: 120%;
  padding: 1rem 5rem;
}*/


.gameList{
  max-width: 420px;
  background-color: rgb(23, 24, 28);
  /*margin-left: 4rem;*/
	/*margin-right: 3rem;*/
  /*padding: 1.5em 1.5em;*/
  border: 1px solid rgb(125, 126, 128);
}

.gameName {
  font-family: "Quann", sans-serif;
  font-size: 1.5rem;
  text-align: center;
	margin-top: 0.5rem;
}

.gamePrice {

  font-size: 1.6rem;
  text-align: center;
  color: rgb(173, 188, 211);

  margin-top: -1.5rem;
}

.gamePriceLine {
  max-width: 180px;
  margin-left: 12px;
  margin-top: -1.5rem;
  border-bottom: 0.05em solid rgb(173, 188, 211);
}

.gameBuyButton {
  padding: 0.3em 0.8em;
  color: rgb(188, 229, 208);
  background-color: rgb(35, 35, 35);
  border-radius: 0.15em;
  border: 1px solid rgb(249, 162, 49);
  font-size: 1.2rem;
  text-decoration: none;
	text-align: center;
  margin-left: 66px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.rgb(249, 162, 49)5s;
}

.gameBuyButton:hover, .gameBuyButton:focus {
  background-color: rgb(249, 162, 49);
  color: black;
}

/*Fixes the banner location so it appears below the navigation bar*/
.banner-fix {
  margin-top: 7.2rem;
  /*position: relative;*/
}

/*Store.html classes goes here*/
.Store-Header {
  font-family: "Quann", sans-serif;
  color: rbg(140, 154, 183);
  margin-top: 2.5rem;
	margin-left: 3rem;
  margin-bottom: -1rem;
}

.details-header {
  font-family: "Quann", sans-serif;
  color: orange;
  margin-top: 2.5rem;
	margin-left: 3rem;
  margin-bottom: -1rem;
}

/*About Us Paragraph*/
.AboutPara {
  font-size: 1.4rem;
	margin-left: 3rem;
}


/*Footer classes*/
.Footer {
  max-width: 100%;
  background-color: rgb(12, 13, 15);
  margin-top: 10rem;
  margin-bottom: -2rem;
  padding: 7rem;
  font-size: 1.4em;
  padding-left: 45rem;
}


.Password-Label {
  color: white;
  padding: 0.3em 0.3em;
  /*margin-left: 1rem;*/
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.Password-Input {
  color: rgb(216, 130, 126);
  background-color: rgb(69, 74, 84);
  border: 2px solid orange;
  border-radius: 4px;
  /*padding: 0.3em 0.8em;*/
  margin-left: 1rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  max-width: 30%;
}

.Login-text {
  font-size: 1.2rem;
  font-weight: bold;
  /*margin-top: 1rem;*/
}

.login-button {
  /*margin-top: 0.5rem;
  margin-left: 7.2rem;*/
  padding: 0.3em 4em;
  color: black;
  background-color: rgb(249, 162, 49);
  border-radius: 0.15em;
  border: 1px solid rgb(249, 162, 49);
  font-size: 1.2rem;
  text-decoration: none;
  /*margin-bottom: 2rem;*/
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.login-button:hover, .login-button:focus {
  background-color: rgb(52, 53, 51);
  color: rgb(188, 229, 208);
}

.Register-text {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
  /*margin-left: 6.5rem;*/
}

.gamePurchaseButton {
  /*padding: 0.3em 0.8em;*/
  color: rgb(188, 229, 208);
  background-color: rgb(35, 35, 35);
  border-radius: 0.15em;
  border: 1px solid rgb(249, 162, 49);
  font-size: 3rem;
  text-decoration: none;
	text-align: center;
  /*margin-left: 66px;*/
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.rgb(249, 162, 49)5s;
}

.gamePurchaseButton:hover, .gameBuyButton:focus {
  background-color: rgb(249, 162, 49);
  color: black;
}
